<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>My CRUD in NodeJS</title>
</head>
<body>

<h2>Novo Cliente</h2>
<form action="/salvar" method="post">
    <input type="text" placeholder="Nome" name="nome"/>
    <input type="text" placeholder="Sobrenome" name="sobrenome"/>
    <input type="date" placeholder="Data de Aniversario" name="data"/>
    <input type="text" placeholder="sexo" name="sexo"/>
    <button type="submit">Submit</button>
</form>

</body>
</html>