<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>My CRUD in NodeJS</title>
</head>
<body>

<h2>BEM VINDO!</h2>
<form action="/cadastrar" method="get">
    <button type="submit">Cadastrar novo cliente</button>
</form>

<form action="/listar" method="get">
    <button type="submit">Listar os clientes</button>
</form>

<form action="/alterar" method="post">
    <button type="submit">Alterar um cliente</button>
</form>

<form action="/deletar" method="post">
    <button type="submit">Deletar um cliente</button>
</form>

</body>
</html>